*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

header{
  position: relative;
  height: 50px;
}

nav{

  position: fixed;
  width: 100%; 
  height: 50px;
  background-color: #212121;
  z-index: 2; 
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
  
}


.menu_link{
  color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.menu{
  display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.sub_header{
  position: absolute;
  top: 50px; /* * */
  width: 100%;
  height: 84px;
  background-color: rgba(0,0,0, .6);
}

.logo_uber{
  display: block;
  font-style: normal;
  font-size: 13px;
  margin-top: 19px;
}

.logo_text{
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  margin-top: 3px;
  color: #FFFFFF;
}



.call{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;  
  color: #FFFFFF;
  margin-top: 19px;
  margin-left: 22px;
}

.phone{
display: block;
font-style: normal;
font-weight: 400;
font-size: 22px;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
margin-top: 2px;
}

.call_btn {
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 22px;
  text-align: center;
}

.promo{
  display: block;
  background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
  height: 799px;
}

.promo_text{
  padding: 152px 0 186px 0;
  text-align: center;
}

h1.invite_promo{
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  text-transform: uppercase;
  
}

h2.invite_second{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  
}

.promo_descr{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 16px;
}

.promo_btn{
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 115px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 63px;
  color: #FFFFFF;
  }



.eight{
  min-height: 850px;
  background: #FFFFFF;
  padding: 71px 0 65px 0;
}





.eight_chapter{
  margin-top: 33px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  
}



.back{
  width: 115px;
  height: 27px;
  background: #000000;  
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 11px;
  line-height: 27px;
  margin: 0 auto;
  margin-top: 15px;
}



.text_descr{
   color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
 
}

.chapter_text{
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
 
}




.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.col-6 .block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  
}

.descr{
  width: 343px;
}

.mobile {
  height: 864px;
  padding: 45px 0 80px 0;
  background: url("../img/bg/mobile_bg.jpg"); }

  .mobile .row {
    margin-top: 30px; }

  .mobile_text {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    margin-top: 20px; }

  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px; }

    
  .mobile_item.mobile_item_1 {
    background: url(../icons/card/card.jpg);
  }
  .mobile_item.mobile_item_2{
    background: url(../icons/card/card_2.jpg)
  }
  .mobile_item.mobile_item_3{
    background: url(../icons/card/card_3.jpg)
  }

  .mobile_item.mobile_item_4{
    background: url(../icons/card/card_4.jpg)
  }

  .mobile_item.mobile_item_5{
    background: url(../icons/card/card_5.jpg)
  }

  .mobile_item.mobile_item_6{
    background: url(../icons/card/card_6.jpg)
  }



  .mobile_subtittle {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center; }

  .mobile .mobile_subtittle_plus {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 14px;
    height: 14px;
    background: black;
    border-radius: 100%;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer; }

.car{
  position: relative;
  min-height: 897px;
  background: url('../img/bg/white_1.jpg');
  padding: 59px 179px 138px 202px;
  
  
}

.car_chapter{
  position: relative;
	margin: 0 auto;
  margin-top: 25px;
	color: #ffffff;
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	z-index: 2

}
.car_subchapter{
    
  position: relative;
	margin: 0 auto;
	color: #ffffff;
	font-size: 11px;
	font-weight: 00;
	text-transform: uppercase;
	text-align: center;
	z-index: 2;
    
  }


.black{
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

.back_white{
 position: relative;
 width: 115px;
 height: 27px;
  background-color: #ffffff;  
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 11px;
  line-height: 28px;
  margin: 0 auto;
  margin-top: 15px;
  z-index: 4;
  
}

.carr{
  display: block;
  position: relative;
  z-index: 9;
  margin: 56px auto 0 auto;
  
}

.supchapter, .supchapter_2{
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}

